<footer class="footer">
  <div class="ui-container">
    <div class="grid sm:grid-cols-3 gap-8 lg:gap-16 pt-16 sm:pt-24 pb-12">
      <div>
        <a href="index.html" class="footer__logo">
          <img src="../images/logo.png" />
        </a>
        <div class="footer__about">
          <p>Проектно-строительная компания «Стандарт» <br><a href="/uslugi/skladskie-i-raspredelitelnye-kompleksy/">Проектирование складских, оптово-распределительных и логистических комплексов</a>, заводов, торговых центров (ТЦ), офисов, административных зданий,  овощехранилищ в Москве и в других городах России.</p>
        </div>
        <ul class="footer__menu">
          <li class="menu-item"><a href="index.html">Пользовательское соглашение</a></li>
          <li class="menu-item"><a href="index.html">Политика конфиденциальности</a></li>
        </ul>
      </div>
      <div>
        <div class="footer__title">Контакты</div>
        <div class="footer__phone">
          <a href="tel:+7 (499) 677-23-57">+7 (499) 677-23-57</a>
        </div>
        <div class="footer__email">
          <p>Если у вас есть вопросы, обращайтесь по адресу <a href="mailto:info@standartproject.ru">info@standartproject.ru</a></p>
        </div>
        <div class="footer__address">
          <p>г.&nbsp;Москва, Волоколамское шоссе, дом&nbsp;1, строение&nbsp;1</p>
          <p>Ул.&nbsp;Порт-артурская&nbsp;11а, офис&nbsp;8, 2&nbsp;этаж</p>
        </div>
      </div>
      <div>
        <div class="footer__title">Услуги</div>
        <ul class="footer__menu">
          <li class="menu-item"><a href="service.html">Концептуальное проектирование</a></li>
          <li class="menu-item"><a href="service.html">Генеральное проектирование</a></li>
          <li class="menu-item"><a href="service.html">Управление проектами</a></li>
          <li class="menu-item"><a href="service.html">Авторский и технический надзор</a></li>
          <li class="menu-item"><a href="service.html">Технический заказчик</a></li>
          <li class="menu-item"><a href="service.html">Fee Development</a></li>
          <li class="menu-item"><a href="service.html">BIM проектирование</a></li>
        </ul>
      </div>
    </div>
    <div class="flex items-center justify-between gap-8 md:gap-24 pb-4 pt-4 border-t">
      <div class="footer__copyright">
        © 2021 Проектно-строительная компания «Стандарт». Все права защищены.
      </div>
      <a href="http://domenart-studio.ru/" class="footer__creator" target="_blank">
        <img src="../images/creator.png" />
      </a>
    </div>
  </div>
</footer>

{% include 'partials/modals.html' %}

<button class="ui-scrolltop"></button>

<script src="../scripts/index.js"></script>
