*,
*::before,
*::after {
  box-sizing: border-box;
  @include below(lg) {
  }
}

*::selection {
  background: #ff8a00;
  color: #000;
  @include below(lg) {
  }
}

body {
  background-color: #fff;
  font-size: $base-font-size;
  line-height: 1.5;
  font-family: $base-font-family;
  @include below(lg) {
  }
}

body::before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: 400px;
  height: 300px;
  z-index: 9999;
  pointer-events: none;
  background: url('../images/ng-left-top.png') no-repeat 0 0;
  background-size: contain;
}

h1 {
  font-size: 48px;
  line-height: 1.25;
  font-weight: 700;
  margin: 0 0 1.5em;
  @include below(sm) {
    font-size: 32px;
  }
}

h2 {
  font-size: 32px;
  line-height: 1.25;
  font-weight: 700;
  margin: 0 0 1.5em;
  @include below(sm) {
    font-size: 28px;
  }
}

h3 {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  margin: 0 0 1.5em;
  @include below(sm) {
    font-size: 20px;
  }
}

h4 {
  font-size: 18px;
  line-height: 1.25;
  font-weight: 700;
  margin: 0 0 1.5em;
  @include below(sm) {
    font-size: 16px;
  }
}

.content {
  a {
    text-decoration: underline;
  }
  p {
    margin: 0;
  }
  * + p,
  * + figure,
  * + ul,
  * + ol {
    margin-top: 24px;
  }
  * + h1,
  * + h2,
  * + h3,
  * + h4 {
    margin-top: 2.5em;
  }
  ul {
    padding: 0 0 0 40px;
    list-style: disc;
    li + li {
      margin-top: 8px;
    }
  }
  ol {
    padding: 0 0 0 40px;
    list-style: decimal;
    li + li {
      margin-top: 8px;
    }
  }
  .wp-block-image {
    margin: 32px 0;
  }
  .blocks-gallery-grid {
    padding: 0;
    margin: 32px 0;
  }
  .wp-block-separator {
    margin: 32px 0;
  }
}

body.ui-focus-disabled *:focus,
body.ui-focus-disabled *:active {
  outline: none;
  @include below(lg) {
  }
}
body.ui-focus-disabled *::-moz-focus-inner {
  border: 0;
  @include below(lg) {
  }
}

.ui-icon {
  fill: currentColor;
  @include below(lg) {
  }
}

.ui-container {
  max-width: 1268px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  @include below(md) {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.ui-scrolltop {
  position: fixed;
  right: 20px;
  bottom: 100px;
  width: 42px;
  height: 42px;
  z-index: 200;
  background: rgb(254, 126, 126);
  border: none;
  border-radius: 0;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out;
  transition-property: background, opacity, visibility;
  &_visible {
    opacity: 1;
    visibility: visible;
  }
  @include below(lg) {
    right: 12px;
    bottom: 60px;
    width: 32px;
    height: 32px;
  }
}

.ui-scrolltop:hover {
  background: rgb(254, 86, 86);
}

.ui-scrolltop::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2px;
  width: 1px;
  height: 58px;
  background: #000000;
  @include below(lg) {
    height: 40px;
  }
}

.ui-scrolltop::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  top: -16px;
  width: 12px;
  height: 12px;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  @include below(lg) {
    top: -12px;
    width: 8px;
    height: 8px;
  }
}

.ui-button-primary {
  background-color: #fe5656;
  text-decoration: none;
  white-space: nowrap;
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  padding: 4px 40px;
  border: none;
  display: inline-flex;
  align-items: center;
  color: #fff;
  border-radius: 24px;
  letter-spacing: 0.04em;
  &:hover {
    color: #fff;
    background: #ff3030;
  }
}

.ui-button-primary__icon {
  margin-left: 12px;
}

.main {
  background-image: url('../images/about_back.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  overflow: hidden;
}

.wpcf7-acceptance span.wpcf7-list-item {
  margin: 0;
}

.wpcf7-acceptance,
.ui-rules {
  position: relative;
  font-size: 12px;
  letter-spacing: 0.025em;
  padding-left: 40px;
  line-height: 1;
  display: block;
}

.wpcf7-acceptance a,
.ui-rules a {
  text-decoration: underline;
  color: inherit;
}

.wpcf7-acceptance input,
.ui-rules input {
  position: absolute;
  left: 12px;
  top: 0;
}

.ui-input {
  font-size: 14px;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(190, 190, 190);
  background-color: rgb(255, 255, 255);
  padding: 0 16px;
  font-family: inherit;
  color: #505661;
  border-radius: 0;
  min-height: 56px;
  width: 100%;
  display: block;
  &::placeholder {
    color: #505661;
  }
  @include below(small) {
    min-height: 48px;
    border-width: 3px;
  }
}

.ui-input:focus {
  border-color: #ffcb16;
}

.ui-textarea {
  font-size: 14px;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(190, 190, 190);
  background-color: rgb(255, 255, 255);
  padding: 16px;
  font-family: inherit;
  color: #505661;
  border-radius: 0;
  min-height: 100%;
  width: 100%;
  resize: none;
  display: block;
  &::placeholder {
    color: #505661;
  }
}

.ui-textarea:focus {
  border-color: #ffcb16;
}

.page-section {
  padding: 80px 0;
  @include below(md) {
    padding: 60px 0;
  }
}
.ui-button-more-alt {
  font-size: 14px;
  color: #cccccc;
  text-decoration: none;
  line-height: 40px;
  padding: 0 16px;
  background: #000000;
  border-radius: 20px;
  transition: .3s ease-in-out;
  transition-property: background, color;
  display: inline-flex;
  align-items: center;
}

.ui-button-more-alt:hover {
  color: #ffffff;
}

.ui-button-more-alt__arrow {
  display: inline-block;
  width: 30px;
  height: 12px;
  margin-left: 12px;
  position: relative;
}

.ui-button-more-alt__arrow::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  width: 100%;
  background: currentColor;
  transform: translateY(-50%);
  mix-blend-mode: difference;
}

.ui-button-more-alt__arrow::before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  height: 12px;
  width: 12px;
  border-right: 1px solid currentColor;
  border-top: 1px solid currentColor;
  transform: translateY(-50%) rotate(45deg);
  mix-blend-mode: difference;
}

.gallery-item {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, .4);
  transition: box-shadow .4s ease;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform .4s ease;
}

.gallery-item:hover {
  box-shadow: 4px 4px 16px rgba(0, 0, 0, .6);
}

.gallery-item:hover img {
  transform: scale(1.1);
}
