@font-face {
	font-family: 'OpenGost Type B TT';
	src: url('../fonts/OpenGostTypeBTT/OpenGost Type B TT.eot');
	src: local('☺'), url('../fonts/OpenGostTypeBTT/OpenGost Type B TT.woff') format('woff'), url('fonts/OpenGost Type B TT.ttf') format('truetype'), url('fonts/OpenGost Type B TT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}