@import 'responsive';

.header {
  @include below(sm) {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 80;
    transition: all .3s ease;
    height: 64px;
    overflow: auto;
    &._opened {
      height: 100vh;
      padding-top: 160px;
    }
  }
}

// .header-placeholder {
//   @include below(sm) {
//     height: 64px;
//   }
// }

.header__container {
  display: flex;
  flex-direction: column;
  position: relative;

  // @include below(sm) {
  //   flex-direction: row;
  //   flex-wrap: wrap;
  // }
}

.header__logo {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  max-width: 80%;

  @include below(md) {
    margin-top: calc(50px * 0.8);
    margin-bottom: calc(70px * 0.8);
  }
  @include below(sm) {
    margin: 0;
    width: 147px;
    height: 37px;
    background: url('../images/logo-small.png') no-repeat 50% 50%;
    background-size: contain;
    left: 16px;
    top: 12px;
    position: absolute;
    transform: translateX(0);
    transition: all .3s ease;
    .header._opened & {
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.header__logo img {
  display: block;
  width: auto;
  height: auto;

  @include below(sm) {
    display: none;
  }
}

.header__toggle {
  width: 40px;
  height: 40px;
  position: absolute;
  padding: 0;
  background: transparent;
  border: none;
  display: flex;
  cursor: pointer;
  right: 8px;
  margin: 0;
  top: 10px;

  @include above(sm) {
    display: none;
  }
}

.header__toggle span {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 24px;
  height: 2px;
  background: #000;
  margin-left: -12px;
}

.header__toggle span:nth-child(1) {
  margin-top: -8px;
  transition: .3s ease;
  transition-property: transform, margin-top;
}

.header__toggle span:nth-child(2) {
  transition: .3s ease;
  transition-property: transform;
}

.header__toggle span:nth-child(3) {
  margin-top: 8px;
  transition: .3s ease;
  transition-property: transform, margin-top;
}

.header__toggle._opened span:nth-child(1) {
  transform: rotate(-45deg);
  margin-top: 0;
}

.header__toggle._opened span:nth-child(2) {
  transform: scale(0);
}

.header__toggle._opened span:nth-child(3) {
  transform: rotate(45deg);
  margin-top: 0;
}

.header__nav {
  padding-top: 16px;
  padding-bottom: 16px;

  @include below(md) {
    padding-top: calc(16px * 0.8);
    padding-bottom: calc(16px * 0.8);
  }
  @include below(sm) {
    display: none;
    width: 100%;
    padding: 0;
    .header._opened & {
      display: block;
    }
  }
}

.header__nav .menu {
  display: flex;
  padding: 0 24px;
  margin: 0;
  list-style: none;
  width: 100%;
  justify-content: space-between;

  @include below(md) {
    padding: 0 calc(24px * 0.8);
  }
  @include below(sm) {
    flex-direction: column;
    align-items: center;
  }
}

.header__nav .menu .menu-item {
  @include below(sm) {
    margin: 22px 0;
  }
}

.header__nav .menu .menu-item a {
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  letter-spacing: 0.05em;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  transition: .3s ease;
  transition-property: color;

  @include below(md) {
    font-size: calc(18px * 0.8);
    line-height: calc(22px * 0.8);
  }
  @include below(sm) {
    font-size: 18px;
    line-height: 22px;
  }
}

.header__nav .menu .menu-item a:hover {
  color: #FF1706;
}

.header__nav .menu .menu-item a::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
  background: currentColor;
  position: absolute;
  right: 0;
  left: auto;
  top: 100%;
  transition: .3s ease;
  transition-property: width, height;
}

.header__nav .menu .menu-item.current-menu-parent a::after,
.header__nav .menu .menu-item.current-category-ancestor a::after,
.header__nav .menu .menu-item.current-post-ancestor a::after,
.header__nav .menu .menu-item.current-menu-item a::after,
.header__nav .menu .menu-item a:hover::after {
  left: 0;
  right: auto;
  height: 2px;
  width: 100%;
}

.header__nav .menu .menu-item .sub-menu {
  display: none;
}

.banner-section {
  display: none;
}

.banner-section_visible {
  display: block;
}

.banner {
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  
  @include below(lg) {
  }
  @include below(md) {
    margin-left: -24px;
    margin-right: -24px;
    border-left: none;
    border-right: none;
  }
  @include below(sm) {
    margin-left: -16px;
    margin-right: -16px;
  }
}

.banner__close {
  position: absolute;
  width: 48px;
  height: 48px;
  right: -48px;
  top: 12px;
  border: none;
  padding: 0;
  background: 0 0;
  cursor: pointer;

  @include below(lg) {
    right: 0;
  }
  @include below(md) {
    width: 40px;
    height: 40px;
    right: 0px;
    top: 0px;
  }
}

.banner__close::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  height: 2px;
  width: 24px;
  background: #4D4C4C;

  @include below(lg) {
    background: #ffffff;
  }
  @include below(md) {
    background: #4D4C4C;
  }
}

.banner__close::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  height: 2px;
  width: 24px;
  background: #4D4C4C;

  @include below(lg) {
    background: #ffffff;
  }
  @include below(md) {
    background: #4D4C4C;
  }
}

.banner__close:hover::before {
  background: #000;

  @include below(md) {
    background: #fff;
  }
}

.banner__close:hover::after {
  background: #000;

  @include below(md) {
    background: #fff;
  }
}

.banner__grid {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  
  @include below(lg) {
    gap: 20px;
  }
  @include below(md) {
    gap: 0;
    justify-content: center;
    flex-direction: column;
  }
}

.banner__main {
  padding-left: 20px;
  padding-right: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include below(lg) {
    padding-left: 0;
    padding-right: 0;
  }
  @include below(md) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include below(sm) {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.banner__title {
  color: #910f13;
  font-size: 20px;
  letter-spacing: normal;
  line-height: 24px;
  margin-bottom: 6px;

  @include below(lg) {
    font-size: 18px;
    line-height: 1;
  }
  @include below(sm) {
    font-size: 16px;
  }
}

.banner__code {
  color: #910f13;
  font-size: 16px;
  letter-spacing: normal;
  margin-bottom: 6px;
  line-height: 1;

  @include below(lg) {
    font-size: 14px;
  }
  @include below(sm) {
    font-size: 12px;
  }
}

.banner__button {
  color: #910f13;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -.2px;
  border: 2px solid #a81217;
  background-color: #fff;
  display: flex;
  padding: 0 12px;
  line-height: 48px;
  text-decoration: none;
  align-items: center;
  width: 100%;
  justify-content: center;
  white-space: nowrap;

  @include below(lg) {
    font-size: 16px;
  }
  @include below(sm) {
    font-size: 14px;
    line-height: 44px;
  }
}

.banner__button::before {
  content: '';
  width: 36px;
  height: 32px;
  background: url('../images/ticket-ico.png') no-repeat 50% 50%;
  background-size: cover;
  margin-left: -12px;
  margin-right: 12px;
  flex-shrink: 0;

  @include below(lg) {
    margin-left: -8px;
    margin-right: 8px;
  }
  @include below(sm) {
    width: 27px;
    height: 24px;
  }
}

.banner__b1 {
  @include below(md) {
    display: none;
  }
}

.banner__b1 img {
  display: block;
}

.banner__b2 {
  @include below(md) {
    display: none;
  }
}

.banner__b2 img {
  display: block;
}

.banner__b3 {
  @include below(md) {
    display: none;
  }
}

.banner__b3 img {
  display: block;
}

.banner-modal {
  padding: 50px;

  @include below(md) {
    padding: 16px;
  }
}

.banner-modal__title {
  font-family: 'OpenGost Type B TT';
  font-size: 32px;
  line-height: 120%;
  color: #000000;
  text-align: center;
  margin-bottom: 50px;

  @include below(md) {
    line-height: 150%;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 20px;
  }
}

.banner-modal__title span {
  color: #FF170A;
}

.banner-modal__desc {
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #000000;
  margin-bottom: 28px;

  @include below(md) {
    font-size: 14px;
    text-align: left;
    margin-bottom: 20px;
  }
}

.banner-modal__desc span {
  color: #FF170A;
  font-weight: 500;
}

.banner-modal__desc p {
  margin: 0;
}

.banner-modal__desc p + p {
  margin-top: 28px;
}

.banner-modal__red {
  background: #FF170A;
  padding-bottom: 28px;
  padding-top: 35px;
  margin-left: -50px;
  margin-right: -50px;
  padding-left: 50px;
  padding-right: 50px;

  @include below(md) {
    padding-top: 20px;
  }
}

.banner-modal__red-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 45px;

  @include below(md) {
    line-height: 46px;
    margin-bottom: 18px;
  }
}

.banner-modal__red-title span {
  font-size: 28px;
  font-weight: 400;
  margin: 0 8px;
}

.banner-modal__red-images {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.banner-modal__button {
  margin: 28px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @include below(md) {
    margin: 22px 0;
  }
}

.banner-modal__code {
  font-size: 14px;
  line-height: 150%;
  color: #4D4C4C;
}

.banner-modal__code span {
  color: #FF170A;
  font-weight: 500;
}

.banner-modal__code p {
  margin: 0;
}

.banner-modal__code p + p {
  margin-top: 20px;
}

.header_new_year_left_top_2 {
  background: url("../images/ng-left-top-1-red.png") no-repeat 50% 50%;
  width: 428px;
  height: 518px;
  position: absolute;
  top: -10px;
  left: -250px;
  pointer-events: none;
  z-index: -1;
  @media (max-width: 479px) {
    left: -320px;
  }
}

.header_new_year_right_top_2 {
  background: url("../images/ng-right-top-1.png") no-repeat;
  width: 398px;
  height: 126px;
  position: absolute;
  top: -10px;
  right: -130px;
  pointer-events: none;
  z-index: -1;
  @media (max-width: 479px) {
    right: -280px;
  }
}

.header_new_year_middle_top_1 {
  background: url("../images/ng-middle-top-1.png") no-repeat;
  height: 42px;
  position: absolute;
  pointer-events: none;
  left: 50%;
  top: -10px;
  width: 133px;
  transform: translateX(-50%);
}
