@import 'responsive';

.header {
  @include below(sm) {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 80;
    transition: all .3s ease;
    height: 64px;
    overflow: auto;
    &._opened {
      height: 100vh;
      padding-top: 160px;
    }
  }
}

// .header-placeholder {
//   @include below(sm) {
//     height: 64px;
//   }
// }

.header__container {
  display: flex;
  flex-direction: column;

  // @include below(sm) {
  //   flex-direction: row;
  //   flex-wrap: wrap;
  // }
}

.header__logo {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  max-width: 80%;

  @include below(md) {
    margin-top: calc(50px * 0.8);
    margin-bottom: calc(70px * 0.8);
  }
  @include below(sm) {
    margin: 0;
    width: 147px;
    height: 37px;
    background: url('../images/logo-small.png') no-repeat 50% 50%;
    background-size: contain;
    left: 16px;
    top: 12px;
    position: absolute;
    transform: translateX(0);
    transition: all .3s ease;
    .header._opened & {
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.header__logo img {
  display: block;
  width: auto;
  height: auto;

  @include below(sm) {
    display: none;
  }
}

.header__toggle {
  width: 40px;
  height: 40px;
  position: absolute;
  padding: 0;
  background: transparent;
  border: none;
  display: flex;
  cursor: pointer;
  right: 8px;
  margin: 0;
  top: 10px;

  @include above(sm) {
    display: none;
  }
}

.header__toggle span {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 24px;
  height: 2px;
  background: #000;
  margin-left: -12px;
}

.header__toggle span:nth-child(1) {
  margin-top: -8px;
  transition: .3s ease;
  transition-property: transform, margin-top;
}

.header__toggle span:nth-child(2) {
  transition: .3s ease;
  transition-property: transform;
}

.header__toggle span:nth-child(3) {
  margin-top: 8px;
  transition: .3s ease;
  transition-property: transform, margin-top;
}

.header__toggle._opened span:nth-child(1) {
  transform: rotate(-45deg);
  margin-top: 0;
}

.header__toggle._opened span:nth-child(2) {
  transform: scale(0);
}

.header__toggle._opened span:nth-child(3) {
  transform: rotate(45deg);
  margin-top: 0;
}

.header__nav {
  padding-top: 16px;
  padding-bottom: 16px;

  @include below(md) {
    padding-top: calc(16px * 0.8);
    padding-bottom: calc(16px * 0.8);
  }
  @include below(sm) {
    display: none;
    width: 100%;
    padding: 0;
    .header._opened & {
      display: block;
    }
  }
}

.header__nav .menu {
  display: flex;
  padding: 0 24px;
  margin: 0;
  list-style: none;
  width: 100%;
  justify-content: space-between;

  @include below(md) {
    padding: 0 calc(24px * 0.8);
  }
  @include below(sm) {
    flex-direction: column;
    align-items: center;
  }
}

.header__nav .menu .menu-item {
  @include below(sm) {
    margin: 22px 0;
  }
}

.header__nav .menu .menu-item a {
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  letter-spacing: 0.05em;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  transition: .3s ease;
  transition-property: color;

  @include below(md) {
    font-size: calc(18px * 0.8);
    line-height: calc(22px * 0.8);
  }
  @include below(sm) {
    font-size: 18px;
    line-height: 22px;
  }
}

.header__nav .menu .menu-item a:hover {
  color: #FF1706;
}

.header__nav .menu .menu-item a::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
  background: currentColor;
  position: absolute;
  right: 0;
  left: auto;
  top: 100%;
  transition: .3s ease;
  transition-property: width, height;
}

.header__nav .menu .menu-item.current-menu-parent a::after,
.header__nav .menu .menu-item.current-category-ancestor a::after,
.header__nav .menu .menu-item.current-post-ancestor a::after,
.header__nav .menu .menu-item.current-menu-item a::after,
.header__nav .menu .menu-item a:hover::after {
  left: 0;
  right: auto;
  height: 2px;
  width: 100%;
}

.header__nav .menu .menu-item .sub-menu {
  display: none;
}

.banner-section {
  display: none;
}

.banner-section_visible {
  display: block;
}

.banner {
  border: 3px solid #FF170A;
  border-top: 0;
  padding-right: 95px;
  position: relative;
  padding-bottom: 30px;
  padding-left: 20px;
  
  @include below(lg) {
    padding-right: 60px;
  }
  @include below(md) {
    margin-left: -24px;
    margin-right: -24px;
    border-left: none;
    border-right: none;
    padding-right: 20px;
  }
}

.banner__close {
  position: absolute;
  width: 48px;
  height: 48px;
  right: 7px;
  top: 25px;
  border: none;
  padding: 0;
  background: 0 0;
  cursor: pointer;
}

.banner__close::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  height: 2px;
  width: 24px;
  background: #4D4C4C;
}

.banner__close::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  height: 2px;
  width: 24px;
  background: #4D4C4C;
}

.banner__close:hover::before {
  background: #000;
}

.banner__close:hover::after {
  background: #000;
}

.banner__grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  
  @include below(lg) {
    gap: 20px;
  }
}

.banner__date {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  background: #ff170a;
  height: 99px;
  width: 167px;
  flex-shrink: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 12px 0 0;
  margin-left: -20px;

  @include below(md) {
    margin-right: -20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    br {
      display: none;
    }
  }
}

.banner__desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #4D4C4C;
  flex-shrink: 0;
  padding: 8px 0 0;

  @include below(md) {
    display: none;
  }
}

.banner__logos {
  display: flex;
  gap: 46px;
  align-items: center;
  
  @include below(lg) {
    gap: 20px;
  }
}

.banner__logo {

}

.banner__logo img {
  display: block;
}

// .banner__body {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding-left: 20px;
//   padding-top: 30px;
//   padding-bottom: 30px;
// }

.banner__title {
  font-family: "OpenGost Type B TT";
  font-size: 32px;
  line-height: 120%;
  color: #000000;

  @include below(md) {
    font-size: 24px;
    text-align: center;
    width: 100%;
  }
}

.banner__title span {
  color: #4D4C4C;
}

.banner-modal {
  padding: 50px;
}

.banner-modal__title {
  font-family: 'OpenGost Type B TT';
  font-size: 32px;
  line-height: 120%;
  color: #000000;
  text-align: center;
  margin-bottom: 50px;
}

.banner-modal__title span {
  color: #FF170A;
}

.banner-modal__desc {
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #000000;
  margin-bottom: 28px;
}

.banner-modal__desc span {
  color: #FF170A;
  font-weight: 500;
}

.banner-modal__desc p {
  margin: 0;
}

.banner-modal__desc p + p {
  margin-top: 28px;
}

.banner-modal__red {
  background: #FF170A;
  padding-bottom: 28px;
  padding-top: 35px;
  margin-left: -50px;
  margin-right: -50px;
  padding-left: 50px;
  padding-right: 50px;
}

.banner-modal__red-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 45px;
}

.banner-modal__red-title span {
  font-size: 28px;
  font-weight: 400;
  margin: 0 8px;
}

.banner-modal__red-images {
  display: flex;
  justify-content: space-around;
}

.banner-modal__button {
  margin: 28px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-modal__code {
  font-size: 14px;
  line-height: 150%;
  color: #4D4C4C;
}

.banner-modal__code span {
  color: #FF170A;
  font-weight: 500;
}

.banner-modal__code p {
  margin: 0;
}

.banner-modal__code p + p {
  margin-top: 20px;
}
