@import 'responsive';

.header {
  @include below(sm) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 80;
    transition: all .3s ease;
    height: 64px;
    overflow: auto;
    &._opened {
      height: 100vh;
      padding-top: 160px;
    }
  }
}

.header-placeholder {
  @include below(sm) {
    height: 64px;
  }
}

.header__container {
  display: flex;
  flex-direction: column;

  // @include below(sm) {
  //   flex-direction: row;
  //   flex-wrap: wrap;
  // }
}

.header__logo {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  max-width: 80%;

  @include below(md) {
    margin-top: calc(50px * 0.8);
    margin-bottom: calc(70px * 0.8);
  }
  @include below(sm) {
    margin: 0;
    width: 147px;
    height: 37px;
    background: url('../images/logo-small.png') no-repeat 50% 50%;
    background-size: contain;
    left: 16px;
    top: 12px;
    position: absolute;
    transform: translateX(0);
    transition: all .3s ease;
    .header._opened & {
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.header__logo img {
  display: block;
  width: auto;
  height: auto;

  @include below(sm) {
    display: none;
  }
}

.header__toggle {
  width: 40px;
  height: 40px;
  position: absolute;
  padding: 0;
  background: transparent;
  border: none;
  display: flex;
  cursor: pointer;
  right: 8px;
  margin: 0;
  top: 10px;

  @include above(sm) {
    display: none;
  }
}

.header__toggle span {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 24px;
  height: 2px;
  background: #000;
  margin-left: -12px;
}

.header__toggle span:nth-child(1) {
  margin-top: -8px;
  transition: .3s ease;
  transition-property: transform, margin-top;
}

.header__toggle span:nth-child(2) {
  transition: .3s ease;
  transition-property: transform;
}

.header__toggle span:nth-child(3) {
  margin-top: 8px;
  transition: .3s ease;
  transition-property: transform, margin-top;
}

.header__toggle._opened span:nth-child(1) {
  transform: rotate(-45deg);
  margin-top: 0;
}

.header__toggle._opened span:nth-child(2) {
  transform: scale(0);
}

.header__toggle._opened span:nth-child(3) {
  transform: rotate(45deg);
  margin-top: 0;
}

.header__nav {
  padding-top: 16px;
  padding-bottom: 16px;

  @include below(md) {
    padding-top: calc(16px * 0.8);
    padding-bottom: calc(16px * 0.8);
  }
  @include below(sm) {
    display: none;
    width: 100%;
    padding: 0;
    .header._opened & {
      display: block;
    }
  }
}

.header__nav .menu {
  display: flex;
  padding: 0 24px;
  margin: 0;
  list-style: none;
  width: 100%;
  justify-content: space-between;

  @include below(md) {
    padding: 0 calc(24px * 0.8);
  }
  @include below(sm) {
    flex-direction: column;
    align-items: center;
  }
}

.header__nav .menu .menu-item {
  @include below(sm) {
    margin: 22px 0;
  }
}

.header__nav .menu .menu-item a {
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  letter-spacing: 0.05em;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  transition: .3s ease;
  transition-property: color;

  @include below(md) {
    font-size: calc(18px * 0.8);
    line-height: calc(22px * 0.8);
  }
  @include below(sm) {
    font-size: 18px;
    line-height: 22px;
  }
}

.header__nav .menu .menu-item a:hover {
  color: #FF1706;
}

.header__nav .menu .menu-item a::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
  background: currentColor;
  position: absolute;
  right: 0;
  left: auto;
  top: 100%;
  transition: .3s ease;
  transition-property: width, height;
}

.header__nav .menu .menu-item.current-menu-parent a::after,
.header__nav .menu .menu-item.current-category-ancestor a::after,
.header__nav .menu .menu-item.current-post-ancestor a::after,
.header__nav .menu .menu-item.current-menu-item a::after,
.header__nav .menu .menu-item a:hover::after {
  left: 0;
  right: auto;
  height: 2px;
  width: 100%;
}

.header__nav .menu .menu-item .sub-menu {
  display: none;
}

.banner-section {}

.banner {
  border: 3px solid #FF170A;
  padding-right: 95px;
  position: relative;
}

.banner__close {
  position: absolute;
  width: 48px;
  height: 48px;
  right: 5px;
  top: 5px;
  border: none;
  padding: 0;
  background: transparent;
}

.banner__close::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  height: 2px;
  width: 30px;
  background: #4D4C4C;
}

.banner__close::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  height: 2px;
  width: 30px;
  background: #4D4C4C;
}

.banner__headline {
  display: flex;
  align-items: center;
}

.banner__date {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  background: #FF170A;
  height: 99px;
  width: 167px;
  flex-shrink: 0;
}

.banner__desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #4D4C4C;
  flex-shrink: 0;
}

.banner__logos {
  display: flex;
  gap: 40px;
  align-items: center;
}

.banner__logo {

}

.banner__logo img {
  display: block;
}

.banner__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.banner__title {
  font-family: "OpenGost Type B TT";
  font-size: 32px;
  line-height: 120%;
  color: #000000;
}

.banner__title span {
  color: #4D4C4C;
}
